{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_User Page</title>
</head>

<body>


    <div class="studentdetail" style="width: 100%; height: 15%; background-color: rgb(56, 67, 113);">
        <div class="nameofapp" style="color:rgb(231, 164, 171);font-weight:bold; height: 100%; font-size:40px; letter-spacing: 2px; display:flex; justify-content: center; align-items: center;">Student Registration App
        </div>

    </div>


    <form class="form" method="post" style="width:100%;height:200%;color:rgb(100, 19, 19);flex: 1;">
        {% csrf_token %}


        <div class="studentdetail" style="width: 100%; height: 100%;display:flex;">


            <div class="studentdetail" style="width: 240%; background-color: rgb(183, 158, 117); flex:1;">
                <div class="lable" style="width: 100%; height: 2%; display:flex; align-items:center;justify-content:left ;"></div>
                Name
                <div style="width: 100%; height: 3%; align-items: center;"></div>
                <input type="text" name="name" required style="width: 40%;height: 3%;border-radius: 10px;color:black;">

                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Registration_Number
                <div style="width: 100%;height: 3%; align-items: center;"></div>
                <input type="number" name="registrationnumber" style="width: 40%;height: 3%;border-radius: 10px;color:black;">

                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Branch
                <div style="width: 100%; height: 3%; align-items: center;"></div>
                <input type="text" name="branch" style="width: 40%;height: 3%;border-radius: 10px;color:black;">

                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Years of Study
                <div style="width: 100%; height: 3%; align-items: center;"></div>
                <input type="number" name="yearsofstudy" style="width: 40%;height: 3%;border-radius: 10px;color:black;">

                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Mobile_Number
                <div style="width: 100%; height: 3%; align-items: center;"></div>
                <input type="number" name="mobilenumber" style="width: 40%;height: 3%;border-radius: 10px;color:black;">

                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Email
                <div style="width: 100%; height: 3%; align-items: center;">
                    <input type="email" name="email" style="width: 40%;height: 100%;border-radius: 10px;color:black;"></div>

                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Gender
                <div style="width: 100%; height: 3%; align-items: center;"></div>

                <input type="select" name="gender" style="width: 40%;height: 3%;border-radius: 10px;color:black;">



                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Current_Address
                <div style="width: 100%; height: 3%; align-items: center;"></div>
                <input type="text" name="currentaddress" style="width: 40%;height: 3%;border-radius: 10px;color:black;">

                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Permanent_Address
                <div style="width: 100%; height: 3%; align-items: center;"></div>
                <input type="text" name="permanentaddress" style="width: 40%;height: 3%;border-radius: 10px;color:black;">

                <div class="lable" style="width: 100%; height: 3%; display:flex; align-items:center;justify-content:left ;"></div>
                Nationality
                <div style="width: 100%; height: 3%; align-items: center;"></div>
                <input type="text" name="nationality" style="width: 40%;height: 3%;border-radius: 10px ;color:black;display: flex; align-items:center;  ">

                <div style="width: 100%; height: 1%; align-items: center;"></div>
                <input type="submit" value="SUBMIT" style="font-family:'Segoe Script';font-size:200%; width: 30%; height: 5%;display:flex;align-items: center;justify-content:center ;background-color:rgb(56,67,113);cursor:pointer;border-radius: 20px; color:rgb(63, 7, 7)">

            </div>




    </form>

































    <div class="studentdetail" style="width: 150%;  background-color: rgb(180,187,206); flex:1;">



        <video autoplay muted width="700" height="900" controls loop>
        <source src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/qmraJpx/schoolgirl-answering-question-at-front-of-class-shot-on-r3d_bjsha4ir__4ea53ab5d60f5664c5040c5d11a26ee8__P360.mp4" type="video/mp4">


        </video>


    </div>













</body>

</html>